<!DOCTYPE html>
<html>
	<head>
		<title> Welcome to SafeSwap </title>
	</head>
	<body>
    Welcome to SafeSwap
    Please Log In or Register <br />
		<%= button_to 'Sign in', new_user_session_path, :method => :post %>
    <%= button_to 'Sign up', new_user_registration_path, :method => :get %>
	</body>
</html>
